@config "../tailwind.config.js";
@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #fafafa;
  --foreground: #171717;
}

:root.dark {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
